<div class="container">
	<div class="jumbotron text-center">
		<div class="page-header">
	  		<h1>Madlibz API</hi>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<ul class="nav nav-pills nav-stacked">
				<li role="presentation" class="active"><a href="#api">API Url and Queries</a></li>
				<li role="presentation"><a href="#examples">Example Calls</a></li>
				<li role="presentation"><a href="#help">Help</a></li>
			</ul>
		</div>
		<div class="col-md-9">
			<div class="page-header">
		  		<h2 id="api">Get a Random Madlib Template</h2>
			</div>
			The base url to get a random madlib template, is as follows:<br>
			<code>
				<a href="http://madlibz.herokuapp.com/api/random">http://madlibz.herokuapp.com/api/random</a>
			</code>
			<p>The url query options are as follows:</p>
		  	<table class="table table-bordered">
			    <thead>
			      	<tr>
				        <th>Query</th>
				        <th>Type</th>
				        <th>Description</th>
			      	</tr>
			    </thead>
			    <tbody>
		    		<tr>
				        <td>minlength</td>
				        <td>Number</td>
				        <td>The min number of user inputs in template</td>
			      	</tr>
			      	<tr>
				        <td>maxlength</td>
				        <td>Number</td>
				        <td>The max number of user inputs in template</td>
			      	</tr>
			    </tbody>
		  	</table>
			<div class="page-header">
		  		<h2 id="examples">Example API Calls</h2>
			</div>
			<p>Here is an example call:</p>
			<code>
				<a href="http://madlibz.herokuapp.com/api/random?minlength=5&maxlength=25" target="_blank">http://madlibz.herokuapp.com/api/random?minlength=5&maxlength=25</a>
			</code>
			<p>Example output:</p>
			<pre>
{
    "blanks":
    [
        "foreign country",
        "adverb",
        "adjective",
        "animal",
        "verb ending in 'ing'",
        "verb",
        "verb ending in 'ing'",
        "adverb",
        "adjective",
        "a place",
        "type of liquid",
        "part of the body",
        "verb"

    ],
    "value":
    [
        "If you are traveling in ",
        " and find yourself having to cross a piranha-filled river, here's how to do it ",
        ": \n* Piranhas are more ",
        " during the day, so cross the river at night.\n* Avoid areas with netted ",
        " traps--piranhas may be ",
        " there looking to ",
        " them!\n* When ",
        " the river, swim ",
        ". You don't want to wake them up and make them ",
        "!\n* Whatever you do, if you have an open wound, try to find another way to get back to the ",
        ". Piranhas are attracted to fresh ",
        " and will most likely take a bite out of your ",
        " if you ",
        " in the water!",
​        0
    ],
    "title": "How To Cross a Piranha-Infested River"
}
			</pre>
			<p>A demo of the output being used can be seen <a href="/">here</a>.</p>
			<div class="page-header">
		  		<h2 id="help">Help</h2>
			</div>
			<p><b>Find an error?</b> Report it here: <a href="https://github.com/HermanFassett/madlibz/issues">https://github.com/HermanFassett/madlibz/issues</a></p>
			<p><b>Want to add a Madlibs to the API?</b></p>
			<p>Edit this JSON file here: <a href="https://github.com/HermanFassett/madlibz/blob/master/data/templates.json">https://github.com/HermanFassett/madlibz/blob/master/data/templates.json</a></p>
			<p>The format of the file is as follows:</p>
			<pre>{
    "templates": [...]
}</pre>
			<p>To add your own Madlibs to the file, you need to put it in the "templates" array in the following format:</p>
			<pre>
{
    "title": "Your Madlibs Title",
    "blanks": ["name", "verb ending in 'ing'"],
    "value": ["Hello ", " what are you ", " ?", 0]
}</pre>
		<p>Where <b>title</b> is the name of your Madlibs, <b>blanks</b> contains <b>in order</b> the input types the user will need to do, and <b>value</b> contains the actual text of the Madlibs, split as an array
		wherever a blank is, and ending with a 0 (non string). Don't forget to include the spaces in these values. The 0 is there mostly for the one word example of Hello _____ noun. It shouldn't matter where in the
		json file you put your Madlibs, but please do put it at the end, and make sure, in proper json style, that the previous sample has a comma after it!!!</p>
		</div>
	</div>
</div>
