<div class="container">
	
	<div class="jumbotron text-center">
		<div class="page-header">
	  		<h1>Madlibz API</hi>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<ul class="nav nav-pills nav-stacked">
				<li role="presentation" class="active"><a href="#template">Template Generator</a></li>
				<li role="presentation"><a href="#examples">Example Calls</a></li>
				<li role="presentation"><a href="#help">Help</a></li>
			</ul>
		</div>
		<div class="col-md-9">
			<div class="page-header">
		  		<h2 id="template">Get a Random Madlib Template</h2>
			</div>
			The base url to get a random madlib template, is as follows:<br>
			<code>
				<a href="http://madlibz.herokuapp.com/api/random">http://madlibz.herokuapp.com/api/random</a>
			</code>
			<p>The url query options are as follows:</p>
		  	<table class="table table-bordered">
			    <thead>
			      	<tr>
				        <th>Query</th>
				        <th>Type</th>
				        <th>Description</th>
			      	</tr>
			    </thead>
			    <tbody>
		    		<tr>
				        <td>minlength</td>
				        <td>Number</td>
				        <td>The min number of user inputs in template</td>
			      	</tr>
			      	<tr>
				        <td>maxlength</td>
				        <td>Number</td>
				        <td>The max number of user inputs in template</td>
			      	</tr>
			    </tbody>
		  	</table>
			<div class="page-header">
		  		<h2 id="examples">Get a Random Verb</h2>
			</div>
			<p>Here is an example call:</p>
			<code>
				<a href="http://madlibz.herokuapp.com/api/random?minlength=5&maxlength=25" target="_blank">http://madlibz.herokuapp.com/api/random?minlength=5&maxlength=25</a>
			</code>
			<p>Example output:</p>
			<pre>
{
    "blanks": 
    [
        "foreign country",
        "adverb",
        "adjective",
        "animal",
        "verb ending in 'ing'",
        "verb",
        "verb ending in 'ing'",
        "adverb",
        "adjective",
        "a place",
        "type of liquid",
        "part of the body",
        "verb"

    ],
    "value":
    [
        "If you are traveling in ",
        " and find yourself having to cross a piranha-filled river, here's how to do it ",
        ": \n* Piranhas are more ",
        " during the day, so cross the river at night.\n* Avoid areas with netted ",
        " traps--piranhas may be ",
        " there looking to ",
        " them!\n* When ",
        " the river, swim ",
        ". You don't want to wake them up and make them ",
        "!\n* Whatever you do, if you have an open wound, try to find another way to get back to the ",
        ". Piranhas are attracted to fresh ",
        " and will most likely take a bite out of your ",
        " if you ",
        " in the water!",
​        0
    ],
    "title": "How To Cross a Piranha-Infested River"
}
			</pre>
			<div class="page-header">
		  		<h2 id="help">Help</h2>
			</div>
		</div>
	</div>
</div>