$def with (output, title)
$if output != "":
    <div class="container">
        <div class="page-header">
          <h1 class="text-center">$title</h1>
        </div>
        <blockquote><h4 class="text-center output">$output</h4></blockquote>
        <a href="/" class="btn btn-primary text-center">New Madlibs</a>
    </div>
$else:
    <div class="page-header text-center">
        <h1>Madlibz Game</h1>
        <h4><a href="/api">View the API</a></h4>
    </div>
    <div class="container">
        <div id="game"></div>
    </div>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var url = "//madlibz.herokuapp.com/api/random"; // Remove http to get rid of blocked content problem
            jQuery.getJSON(url, function(data) {
               var madlibs = data;
               var html = "<form method='post'><input name='title' type='hidden' value='" + madlibs.title.toString().replace("'", "&#39;") + "'/>";

               for (var i = 0; i < madlibs.value.length - 1; i++) {
                    var v = madlibs.value[i].toString();
                    var b = (madlibs.blanks[i]) ? madlibs.blanks[i].toString() : "";
                    html += "<input type='hidden' value='"+ v.replace(/\'/gi, "&#39;") + "' name='v" + i + "'/>";
                    if (b !== "") {
                        html += "<div class='input-group'> <span class='input-group-addon'>" + b.charAt(0).toUpperCase() + b.slice(1) + "</span>" +
                            "<input class='form-control' type='text' name='b" + i + "' placeholder='Enter ";
                        if (b.substr(0,2).match(/[aeiou][^\sn]/)) {
                            html += "an ";
                        }
                        else if (!b.substr(0,2).match(/[aeiou]\s/)) {
                            html += "a ";
                        }
                        html +=  b.replace("'", "&#39;") + "'/></div>";
                    }
               }
               html += "<br/><input type='submit' class='btn btn-primary' value='Submit'/></submit>";
               jQuery("#game").html(html);
               console.log(madlibs);
            });
        });
    </script>
