$def with (content)

<html>
<head>
    <title>Madlibz API</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/journal/bootstrap.min.css"/>
    <style>
        body {
            margin-top: 15px;
        }
        footer {
            margin-top: 50px;
            padding-top: 15px;
            border-top: 1px solid #EEE;
        }
        .output {
          line-height: 50px;
        }
    </style>
</head>
<body>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    $:content
    <footer class="footer">
        <div class="container">
            <div class="row">
                <p class="text-muted">&copy; <script>document.write(new Date().getFullYear())</script> Herman Fassett</p>
                <p><a href="https://github.com/HermanFassett/madlibz">View on GitHub</a></p>
            </div>
        </div>
    </footer>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
